.back{
    background-image: url("./assets/class_background.png");
}
.box_wrapper{
    width: 418px ; 
    height:15rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color:red;

}